h4{
    font-family: my_font;
    font-weight: bold;
    font-size: 1.2rem;
}
p{
    font-family: my_font;
    font-size: 0.9rem;
    color: #959595;
    margin: 0 2rem;
    line-height: 1.3rem;
}

section .menu{
    padding: 4.3em 0em;
    display:block;
    
}

.titlemenu{
    text-align: center;
    font-weight: 500;
    color: #2E2E2E;
    padding:2,5em 0em;
    position:relative;
    font-size: 36px;
   
}
.titlemenu span{
    color: #FF530A;
    font-size: 45px;

}

button{
    color: #FF530A;
}
span{
    color: #FF530A;
    font-size: 36px;
}
.moreinfo{
    visibility: visible;
    animation-duration: 500ms;
    animation-delay: 1200ms;
    animation-name: bounceIn;
    padding: 6px-12px;
    border-radius: 0px;
    background: none;
    color: #FF530A;
    border: 1px solid #FF530A;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
    transition: .3s all;
    flex-direction: right;
    display: inline-block;
}


.container {
    width: 80%;
    margin: 0 auto;

}

header {
    
    box-shadow: 0 2px 10px rgb(226, 226, 226);
    padding: 1em;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

header div {
    display: inline-block;
   


}


input#menu_button {
    display: none;
}

input#menu_button:checked ~ nav {
    height:200px;
} 

@media screen and (max-width: 768px) {
    header nav {
        height: 0;
        overflow: hidden;
        position: relative;
        width: 100%;
        transition: height 0.5s ease-out;
    

    }
}

@media screen and (min-width: 768px) {
    
    body header nav.navigation_bar {display: inline-block;}

    #menu_mobile {
        display: none;
        
    }

    body header nav ul {
        margin-right: 2em;
       
    }

     header nav ul li {
        display: inline-block;
        margin: 0 0 0 1em;
    }

    header nav ul li a {
        text-decoration: none;
        color: grey;
        

    }
}


@font-face {
    font-family: my_font;
    src: url(../fonts/ufonts.com_tw-cen-mt.ttf);
}

/* SLIDER Img */


.container_First {
    justify-content: space-between;
    align-items: center;
    margin-left: 3%;
    margin-right: 3%;
}

.container_First span {
    color: #eb5b23;
    
}

.container_First h3 {
    margin-top: 50px;
    font-size: 1.3rem;
    margin-bottom: 30px;
}

.scroll-images {
    width: 100%;
    height: 160px;
    display: flex;
    justify-content:start;
    overflow: auto;
    scroll-behavior: smooth;
    align-items: center;
    
}

.div-images {
    min-width: 300px;
    height: 200px;
    margin: 10px 0px;
    cursor: pointer;
    border-radius: 3px;
    overflow: hidden;
    margin-top: 70px;
}

.child-img {
    width: 100%;
    height: 100%;
}

.container-scroll {
    display: inline-block;
    margin-left: 50%;
    transform: translate(-50%);
    margin-top: 50px;
    margin-bottom: 50px;
}

.dot {
    display:inline-block;
    width: 3px;
    height: 12px;
    border-radius: 50%;
    border-style: none;
    margin: 0 auto;
    background-color: grey;
    cursor: pointer;
    

}

.dot:hover {
    background-color: #eb5b23;
}

/* ---------- Main (Newsletter-Form) ------------ */

.container, .footer {
    font-family: my_font;
}
.tomato_container {
    background-image: url(/assets/images/subscribe-bg.jpg);
    background-position: center;
    background-attachment: fixed; 
    background-size: cover;
    background-repeat: no-repeat;
}

/* ------ Newsletter ------ */
.newsletter {
    padding: 100px 20px;
    text-align: center;
    color: white;
    font-weight: bold;
}
.newsletter input {
    width: 90%;
}
.newsletter hr {
    width: 30%;
    background-color: rgb(190, 190, 190);
    border: 0.5px solid rgb(190, 190, 190);
}
.newsletter a p {
    display: inline-block;
    padding: 20px 50px;
    background-color: #7ec4bc;
    text-transform: uppercase;
    font-weight: bold;
}
.newsletter a:link {
    text-decoration: none;
}
.newsletter a:visited {
    color: white;
}
.newsletter span {
    color: #ff550b;
    
}

/* ------ Form ------ */
.form {
    padding: 100px 20px 50px 20px;
}
.form hr {
    width: 30%;
    background-color: rgb(190, 190, 190);
    border: 0.5px solid rgb(190, 190, 190);
}
.form h2 {
    text-align: center;
    color: #343434;
}
.form h3 {
    text-transform: uppercase;
    text-align: left;
    color: #343434;
    font-weight: bold;
}
.form h2 span, .form h3 span {
    text-transform: uppercase;
    color: #ff550b;
    font-weight: bold;
}
.form input#name, input#email, input#text  {
    width: 100%;
    padding: 10px 0;
    border: 1px solid lightgrey;
}
.form a p[title="msg"] {
    display: inline-block;
    padding: 20px 50px;
    background-color: #ff550b;
    text-transform: uppercase;
    font-weight: bold;
    
}
.form a:link {
    text-decoration: none;
}
.form a:visited {
    color: white;
}
.form ul li {
    list-style-type: none;
    text-align: center;
}

/* --------------- Footer ---------------- */
footer h3 {
    text-transform: uppercase;
    text-align: left;
    color: #343434;
    font-weight: bold;
}

footer h3 span {
    color: #ff550b;
    font-weight: bold;
}
/* ------ Contact-Us ------ */
.contact-us {
    padding: 20px;
}
.contact-us h4 {
    color: #ff550b;
}
.contact-us i, .contact-us h4 {
    display: inline-block;
    margin-right: 30px;
}
.contact-us i {
    color: #525252;
}
/* ------ Blog-Posts ------ */
.blog-posts {
    padding: 20px;
}
/* ------ Photo-Stream ------ */
.photo-stream {
    padding: 20px;
}
.photo-stream span#min {
    color: #343434;
    text-transform: capitalize;
}
.photo-stream i {
    color: #b0b0b0;
    font-size: 40px;
}
/* ------ Copyright ------ */
.copyright {
    color: #343434;
    padding: 20px;
    background-color: #e9e9e9;
    text-align: center;
    font-weight: bold;
}
.copyright span {
    color: #ff550b;
}

/* --------------- Blog ---------------- */

.backgound_container h4#titolo_blog{
    padding: 7rem 0 3rem 0;
    text-align: center;
    color: white;
    font-weight: normal;
    font-size: 1.4rem;
}

.backgound_container > hr:first-of-type{
    margin-bottom: 2.5rem;
    border-top: 1px solid white;
    border-bottom: none;
}

.backgound_container strong{
    color: #ff530a;
    font-size: 1.7rem;
    font-weight: bold;
}

.backgound_container{
    background-image: url(../images/blog/blog-bg.jpg);
    background-position: center;
    background-attachment: fixed; 
    background-size: cover;
    background-repeat: no-repeat;
}

hr{
    border-top: 1px solid #959595;
    border-bottom: none ;
    margin: 0 12rem;
}

section.backgound_container div.blog_container{
    text-align: center;
    margin: 0 1rem;
}

.blog_container div.box3 , .blog_container div.box4{
    display: flex;
    flex-direction: column-reverse;
}

section.backgound_container div div img{
    width: 100%;
}

section.backgound_container div div div{
    background-color: white;
    width: 100%;
}

section.backgound_container div div div h4 , section div div div p{
    padding: 1rem 0;
    box-sizing: border-box;
}

section.backgound_container button{
    margin: 4.5rem auto 6rem 1rem;
    height: 5rem;
    width: 15rem;
    background-color: #ff530a;
    border-style: none;
}

section.backgound_container button a{
    color: white;
    text-decoration: none;
    font-family: my_font;
    font-size: 1rem;
}

@media screen and (min-width:767px) {
    .backgound_container h4#titolo_blog {
        font-size: 2.2rem;
    }
    .backgound_container strong{
        font-size: 2.7rem
    }
    hr{
        margin: 0 40%;
    }
    section.backgound_container div.blog_container{
        max-width: 46rem;
        margin: 0 auto;
    }
    .box_img_1 , .box_img_2 , .box_img_3 , .box_img_4 , .box_img_5 , .box_img_6{
        width: 100%;
    }
    .blog_container div.box1 , .blog_container div.box2 , .blog_container div.box3 ,.blog_container div.box4 ,.blog_container div.box5 , .blog_container div.box6 {
        display: flex;
        flex-direction: row;
        flex: 1 1 0;
    }
    .blog_container div.box3 ,.blog_container div.box4{
        flex-direction: row-reverse;
    }
    section.backgound_container div.button_container_blog{
        width: 100%;
        padding-bottom: 6rem;
    }
    section.backgound_container button{
        display: block;
        margin: 2rem auto 0 auto;
    }
    
}

@media screen and (min-width:991px){
    section.backgound_container div.blog_container div.box1 {
        grid-area: box1;
    }
    section.backgound_container div.blog_container div.box2 {
        grid-area: box2;
    }
    section.backgound_container div.blog_container div.box3 {
        grid-area: box3;
    }
    section.backgound_container div.blog_container div.box4 {
        grid-area: box4;
    }
    section.backgound_container div.blog_container div.box5 {
        grid-area: box5;
    }
    section.backgound_container div.blog_container div.box6 {
        grid-area: box6;
    }
    section.backgound_container div.blog_container{
        display: grid;
        grid-template-areas: 
        'box1 box2'
        'box3 box4'
        'box5 box6';
    }
    section.backgound_container div.blog_container{
        max-width: 58rem;
        height: 58rem;
    }
    section.backgound_container div.button_container_blog{
        display: flex;
        max-width: 58rem;
        margin: 0 auto;
        padding-bottom: 6rem;
    }
    section.backgound_container button{
        display: block;
        
    }
}