body h1, h2, h3, h4, p, input, button {
    font-family: my_font;
    color: #2E2E2E;
}

h1 {
    font-size: 1.5em;
    text-align: center;
    line-height: 1.2em;
}

h2 {
    font-size: 1.1em;
    text-align: left;
    line-height: 1.5em;
}

h3 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.3em;
    line-height: 4em;
}
h4{
    font-weight: bold;
    font-size: 1.2rem;
}
p{
    font-size: 0.9rem;
    color: #959595;
    margin: 0 2rem;
    line-height: 1.5em;
}
.dot{
    border-bottom: #959595 dotted;
    position:absolute;
}

div.container_background_header{
    background-image: url(../images/header.jpg);
    width: 100%;
    height: 38vw;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}
div.container_background_header div.overlay_oscurante{
    width: 100%;
    height: 100%;
    background-image: url(../images/overlay-pattern.png)
}
body div div div.header_overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
}

.menu{
    position: relative;
    padding: 2.4em; 
    padding-top: 2.5em;
    line-height: 4em;
    width: 0 auto;
    
    
}
.menu p{
    line-height: 2em;
}

.titlemenu{
    text-align: center;
    font-weight: 500;
    color: #2E2E2E;
    padding:2,5em 0em;
    position:relative;
   
}
/*.dot{
    border-bottom: 2px dotted;
}*/

.moreinfor{
    visibility: visible;
   animation-duration: 500ms;
    animation-delay: 1200ms;
    animation-name: bounceIn;
    padding: 6px 12px;
    border-radius: 0px;
    background: none;
    color: #FF530A;
    border: 1px solid #FF530A;
    text-transform: uppercase;
    font-weight: 600;
    transition: .3s all;
    flex-direction: right;
    display: inline-block;
    float:right;
    
    

}
.price1{
    position: relative;
    /*border-style: dotted;*/

}
/*h2 .menu{
    color: #959595;
}*/


.container {
    width: 80%;
    margin: 0 auto;

}

header {
    position: sticky;
    padding: 1em;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    bottom: 0;
}

header div {
    display: inline-block;
   


}
a{
color: #2E2E2E;
text-decoration: none;

}


input#menu_button {
    display: none;
}

input#menu_button:checked ~ nav {
    height:200px;
} 

@media screen and (max-width: 768px) {
    header nav {
        height: 0;
        overflow: hidden;
        position: relative;
        width: 100%;
        transition: height 0.5s ease-out;
    

    }
}

@media screen and (min-width: 768px) {
    
    body header nav.navigation_bar {display: inline-block;}

    #menu_mobile {
        display: none;
       
        
    }

    body header nav ul {
        margin-right: 2em;
       
    }

     header nav ul li {
        display: inline-block;
        margin: 0 0 0 1em;
    }

    header nav ul li a {
        text-decoration: none;
        color: grey;
        

    }
}


@font-face {
    font-family: my_font;
    src: url(../fonts/ufonts.com_tw-cen-mt.ttf);
}

/* SLIDER Img */



.container_First {
    justify-content: space-between;
    align-items: center;
    margin-left: 3%;
    margin-right: 3%;
}

.container_First span {
    color: #FF530A;
    font-size: 1.3rem;
}

.container_First h3 {
    margin-top: 50px;
    margin-bottom: 30px;
}

.scroll-images {
    width: 100%;
    height: 170px;
    display: flex;
    justify-content:start;
    overflow: auto;
    scroll-behavior: smooth;
    align-items: center;
    background-position: center;
    margin-top: 70px;
    background-size: cover;
    
}

.div-images {
    min-width: 250px;
    height: 150px;
    margin: 10px 0px;
    cursor: pointer;
    border-radius: 3px;
    overflow: hidden;
    
}

.child-img {
    width: 100%;
    height: 100%;
   
}

.container-scroll {
    display: inline-block;
    margin-left: 50%;
    transform: translate(-50%);
    margin-top: 45px;
    margin-bottom: 45px;
}

.dot-scroll {
    display:inline-block;
    width: 1px;
    height: 12px;
    border-radius: 100%;
    border-style: none;
    margin: 0 auto;
    background-color: grey;
    cursor: pointer;
    

}

.dot:hover {
    background-color: #eb5b23;
}

/* SLIDER PART 2 */

.container-chef {
     background-color: rgb(246, 246, 246);
     width: 100%;
     text-align: center;
     left: 0;
}

.img-chef {
    margin-top: 70px;
    
    
}

.container-chef h3 {
    font-size: 1.4rem;
    font-weight: 400;
    font-family: my_font;
    
    
}

.container-chef span {
    font-size: 1.8rem;
    font-weight: bold;
    color: #FF530A;
}

.container-chef hr {
    margin-bottom: 40px;
    margin-top: 45px;
    color:rgb(247, 247, 247);
    width: 25%;
}

.container-chef p {
    font-size: 1.0em;
    line-height: 1.7;
    padding-bottom: 70px;
}



/* ---------- Main (Newsletter-Form) ------------ */

.tomato_container {
    background: url(../images/subscribe-bg.jpg);
    background-position: left;
    background-attachment: fixed; 
    background-size: cover;
    background-repeat: no-repeat;
}
.second_layer {
    background: url(../images/overlay-pattern2.png);
    background-attachment: fixed; 
}
.third_layer {
    background-color: rgba(129, 122, 122, 0.19);
    background-attachment: fixed; 
}

/* ------ Newsletter ------ */
.newsletter {
    padding: 130px 20px;
    margin-bottom: 75px;
    text-align: center;
    color: white;
    font-weight: bold;
}
.newsletter h1 {
    margin-bottom: 40px;
    text-transform: uppercase;
    color: white;
    font-weight: 500;
    font-size: 1.8em;
}
.newsletter span {
    color: #ff550b;
    text-transform: lowercase;
    font-size: 0.9em;
}
.newsletter hr {
    margin-bottom: 25px;
    width: 30%;
    background-color: rgb(190, 190, 190);
    border: 0.5px solid rgb(190, 190, 190);
}
.newsletter p {
    color: white;
    font-weight: 500;
    font-size: 1.1em;
    margin: auto;
}
.newsletter input#subscribe {
    margin: 20px 0;
    font-weight: 500;
    font-size: 1em;
    width: 95%;
    opacity: 85%;
    padding: 25px 10px;
}
.newsletter a p {
    float: left;
    padding: 20px 70px;
    background-color: rgb(132, 189, 191);
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.1em;
}
.newsletter a:link {
    text-decoration: none;
}
.newsletter a:visited {
    color: white;
}
.newsletter a:hover {
    animation: shadow 2.5s infinite;
}
.newsletter a:active {
    
}
@keyframes shadow {
    0% { box-shadow: 0 0 0 5px rgba(132, 189, 191, 1);}
    25% { box-shadow: 0 0 0 10px rgba(132, 189, 191, 0.7);}
    50% { box-shadow: 0 0 0 10px rgba(132, 189, 191, 0.4);}
    100% { box-shadow: 0 0 0 0 rgba(132, 189, 191, 0.2);}
}

/* ------ Form ------ */
.form {
    padding: 100px 0 0 0;
    background-color: white;
}
.form h1 {
    margin-bottom: 40px;
    font-size: 1.3em;
    text-align: center;
    color: #343434;
}
.form h1 span {
    font-size: 1.4em;
    text-transform: uppercase;
    color: #ff550b;
    font-weight: bold;
}
.form hr {
    margin: auto;
    width: 20%;
    background-color: rgb(214, 214, 214);
    border: 0.5px solid rgb(214, 214, 214);
}
.form h3 {
    margin-top: -10px;
    margin-left: 25px;
    font-weight: bold;
}
.form h3 span {
    text-transform: uppercase;
    color: #ff550b;
}
.form input#name, input#email, input#text  {
    margin: 10px 0;
    font-weight: 500;
    font-size: 1em;
    width: 90%;
    opacity: 85%;
    padding: 20px 10px;
    border: 1px solid lightgrey;
}
input#text {
    padding: 20px 10px 100px 10px;
}
.form a p {
    margin-top: 30px;
    color: white;
    text-align: center;
    padding: 20px 40px;
    background-color: #ff550b;
    text-transform: uppercase;
    font-weight: bold;
}
.form a:link {
    text-decoration: none;
}
.form a:visited {
    color: white;
}
.form ul li {
    list-style-type: none;
    text-align: center;
}

/* --------------- Footer ---------------- */

footer h3 span {
    color: #ff550b;
    font-weight: bold;
}
/* ------ Contact-Us ------ */
.contact-us {
    padding: 20px;
    line-height: 3em;
}
.footer h3#tablet {
    padding: 50px 20px 0 20px;
}
.footer h3#desktop {
    display: none;
}
.contact-us h4 {
    color: #ff550b;
    font-weight: 100;
}
.contact-us p {
    color: #343434;
    margin: auto;
}
.contact-us i, .contact-us h4 {
    display: inline-block;
    margin-right: 30px;
}
.contact-us i {
    color: #525252;
}
/* ------ Blog-Posts ------ */
.blog-posts {
    padding: 50px 20px 30px 20px;
}
.blog-posts h4 {
    color: #ff550b;
    line-height: 2.2em;
}
.blog-posts p {
    line-height: 1.8em;
    color: #343434;
    margin: auto;
}
/* ------ Photo-Stream ------ */
.photo-stream {
    padding: 30px 20px 130px 20px;
}
.photo-stream #images img {
    margin: 20px 20px 20px 0;

}
.photo-stream span#min {
    color: #343434;
    text-transform: capitalize;
}
.photo-stream i {
    margin-right: 15px;
    margin-top: -10px;
    color: #b0b0b0;
    font-size: 40px;
}
/* ------ Copyright ------ */
.copyright {
    
    padding: 25px 5px;
    background-color: #e9e9e9;
    text-align: center;
    font-weight: bold;
}
.copyright p {
    margin: auto;
    font-size: 0.75em;
    color: #343434;
    letter-spacing: 0.1em;
}
.copyright span {
    line-height: 2em;
    font-size: 1.3em;
    color: #ff550b;
}

/* Media Queries Gian */

@media screen and (min-width:767px) { /* Tablet */
    .newsletter {
        padding: 130px 20px 10px 20px;
    }
    .newsletter #subscription input {
        width: 40%;
        padding: 0 50px;
        height: 62px;
    }
    .newsletter input#subscribe {
        padding-left: 10px;
    }
    .newsletter a p {
        margin-left: -4.5px;
        display: inline-block;
        text-align: center;
        padding-bottom: 45px;
        width: 220px;
        height: 62px;
        float: none;
    }
    .newsletter h1 {
        font-size: 2.5em;
        margin-bottom: 50px;
    }
    .newsletter span {
        font-size: 1.3em;
        font-weight: 700;
    }
    .newsletter hr {
        width: 20%;
        margin-bottom: 10px;
    }
    .form {
        padding: 100px 20px 50px 20px;
    }
    .form h1 {
        font-size: 2em;
    }
    .form h3 {
        margin-bottom: -20px;
    }
    .form hr {
        width: 20%;
    }
    .form ul li input#name, input#email, input#text {
        font-size: 0.8em;
        margin: 5px 0;
    }
    .form span a p {
        width: 500px;
        padding: 15px 40px;
        margin: auto;
        margin-top: 20px;
    }
    .footer {
        padding: 0 40px;
    }
    .footer h3#tablet {
        padding: 0 10px;
    }
    .footer h3#desktop {
        display: none;
    }
    .contact-us {
        padding: 0 10px;
        display: inline-flex;
        flex-wrap: nowrap;
    }
    .contact-us div {
        margin-right: 20px;
    }
    .blog-posts {
        padding: 10px 10px;
    }
    .photo-stream {
        padding: 10px 10px 100px 10px;
    }
    .photo-stream #images {
        margin-top: -25px;
    }
    .copyright {
        font-size: 1.1em;
    }
}

@media screen and (min-width:991px) { /* Desktop small screen */
    .newsletter input#subscribe {
        padding-left: 10px;
    }
    .form h3 {
        margin-left: 75px;
    }
    .form input#name, input#email, input#text  {
        width: 85%;
    }
    .form span a p {
        margin-right: 72px;
        float: right;
        width: 500px;
    }
    .footer {
        padding: 100px 0 0 0;
    }
    footer .contact-us, .blog-posts, .photo-stream {
        display: inline-table;
        width: 30%;
        padding: 0 0 100px 0;
    }
    footer .contact-us {
        padding-left: 50px;
    }
    footer h3 {
        margin-bottom: 15px;
    }
    footer h3#tablet {
        display: none;
    }
    .contact-us h3#desktop {
        display: block;
    }
} 

@media screen and (min-width:1200px){ /* Desktop big screen */
    .newsletter input#subscribe {
        padding-left: 10px;
        width: 350px;
    }
    .form input#name, input#email, input#text  {
        width: 95%;
    }
    .form h3 {
        margin-left: 20px;
    }
    .form span a p {
        margin-right: 22px;
    }
    .blog-posts #desc_1, #desc_2 {
        padding-right: 30px;
    }
    .photo-stream {
        margin-left: 50px;
    }
}


/* --------------- Blog ---------------- */

.backgound_container h1#title_blog{
    padding: 7rem 0 3rem 0;
    text-align: center;
    color: white;
    font-weight: normal;
    font-size: 1.4rem;
}

hr#title_hr{
    width: 8rem;
    border-top: none ;
    border-bottom: 0.1rem solid white;
    border-top: none;
    margin-bottom: 2.5rem;
    border-right: none;
    border-left: none;
}

.backgound_container strong{
    color: #ff530a;
    font-size: 1.7rem;
    font-weight: bold;
}

.backgound_container{
    background-image: url(../images/blog/blog-bg.jpg);
    background-position: left;
    background-attachment: fixed; 
    background-size: cover;
    background-repeat: no-repeat;
}

section.backgound_container div.backgound_container_overlay1{
    background-image:url(../images/overlay-pattern.png);
    background-attachment: fixed;
}

section.backgound_container div.blog_container{
    text-align: center;
    margin: 0 1rem;
    border: none;
}

.blog_container div.box3 , .blog_container div.box4{
    display: flex;
    flex-direction: column-reverse;

}

section.backgound_container div div div div{
    position:relative;
    overflow: hidden;
}

section.backgound_container div div div div img{
    width: 100%;
    height: 100%;
    transform: rotate(0deg) scale(1);
    transition: 0.65s ease-out;
}

section.backgound_container div div div div img:hover{
    transform: rotate(10deg) scale(1.2);
    transition: 0.65s ease-in;
}

section.backgound_container div div div div h4{
    margin: 1.2rem 0 1rem 0;
}

section.backgound_container div div div div hr{
    width: 5rem;
}

section.backgound_container div div div{
    background-color: white;
    flex: 1 1 0;
}

section.backgound_container div div div h1 , section div div div p{
    padding: 1rem 0;
    box-sizing: border-box;
}

section.backgound_container button{
    margin: 4.5rem auto 6rem 1rem;
    height: 5rem;
    width: 15rem;
    background-color: #ff530a;
    border-style: none;
}

section.backgound_container button a{
    color: white;
    text-decoration: none;
    font-family: my_font;
    font-size: 1rem;
}

@media screen and (min-width:767px) {
    section.backgound_container div div div div.desc_box_1 , section.backgound_container div div div div.desc_box_2 , section.backgound_container div div div div.desc_box_3 , section.backgound_container div div div div.desc_box_4 , section.backgound_container div div div div.desc_box_5 , section.backgound_container div div div div.desc_box_6 {
        flex: 1 1 0;
    }
    section.backgound_container div div div div h4{
        margin: 2.8rem 0 2rem 0;
    }
    .backgound_container h1#title_blog {
        font-size: 2.2rem;
    }
    .backgound_container strong{
        font-size: 2.7rem
    }
    section.backgound_container div.blog_container{
        max-width: 46rem;
        margin: 0 auto;
    }
    .box_img_1 , .box_img_2 , .box_img_3 , .box_img_4 , .box_img_5 , .box_img_6{
        width: 100%;
    }
    .blog_container div.box1 , .blog_container div.box2 , .blog_container div.box3 ,.blog_container div.box4 ,.blog_container div.box5 , .blog_container div.box6 {
        display: flex;
        flex-direction: row;
        flex: 1 1 0;
    }
    .blog_container div.box3 ,.blog_container div.box4{
        flex-direction: row-reverse;
    }
    section.backgound_container div.button_container_blog{
        width: 100%;
        padding-bottom: 6rem;
    }
    section.backgound_container button{
        display: block;
        margin: 2rem auto 0 auto;
    }
    
}
@media screen and (min-width:991px){
    section.backgound_container div div div div img{
        height: auto;
    }
    section.backgound_container div div div div h4{
        padding: 0 5rem;
    }
    section.backgound_container div div div div p{
        padding: 0 1rem;
        margin-bottom: 1.5rem;
    }
    section.backgound_container div.blog_container div.box1 {
        grid-area: box1;
    }
    section.backgound_container div.blog_container div.box2 {
        grid-area: box2; 
    }
    section.backgound_container div.blog_container div.box3 {
        grid-area: box3;
    }
    section.backgound_container div.blog_container div.box4 {
        grid-area: box4;
    }
    section.backgound_container div.blog_container div.box5 {
        grid-area: box5;
    }
    section.backgound_container div.blog_container div.box6 {
        grid-area: box6;
    }
    section.backgound_container div.blog_container{
        display: grid;
        grid-template-areas: 
        'box1 box2'
        'box3 box4'
        'box5 box6';
        grid-template-rows: auto 16rem auto;
    }
    section.backgound_container div.blog_container{
        max-width: 58rem;
    }
    section.backgound_container div.button_container_blog{
        display: flex;
        max-width: 58rem;
        margin: 0 auto;
        padding-bottom: 6rem;
        justify-content:right;
    }
    section.backgound_container button{
        display: block;
        margin: 0;
        width: 18rem;
    }
}

@media screen and (min-width:1200px){
    section.backgound_container div.blog_container{
        grid-template-rows: 1fr 1fr 1fr;
    }
    section.backgound_container div div div div img{
        height: 100%;
        width: 100%;
    }
    section.backgound_container div.blog_container{
        max-width: 72rem;
        height: 100%;
    }
    section.backgound_container div.button_container_blog{
        max-width: 72rem; 
    }
    section.backgound_container button{
        width: 18rem;
    }
}